.img-circle {
    width: 100%;
}


.oblique {
    font-style: oblique;
   color: red;

}

/*
.img-circle {
    border: 2px solid black;
}

div {
    border: 2px solid red;
}

.container {
    border: 2px solid blue;
}

.oblique {
    font-style: oblique;

}

col-xs-12 - phone - 768px -width
col-sm-8  - tablet
col-md-6 - desctop
col-lg-4 - large desctop
*/